# Ignore all files by default
*
# But don't ignore .gitignore itself
!.gitignore
# Allow specific image folders
!/news_images/
!/alumni-posts/
!/alumni_images/
!/profiles/
!/donations/
!/resumes/
!/trainings/
# Allow common image file types
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.svg
!*.webp
!*.pdf

